*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.lists {
  max-height: 83vh;
  overflow-y: auto;
}
ul {
  padding: 0;
  list-style: none;
}
ul li {
  margin-bottom: 10px;
}
.break-word {
  word-break: break-word; /* Ensure long words break */
  overflow-wrap: break-word;}
li{
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px;
  padding: 8px 0px 6px 6px;  
  border-radius: 3px;
}
li:hover{
  cursor: pointer;
  background-color: #F7F7F7;
}
.fa-check{
  font-size: 48px;
}
p,h2{
  margin: 0;
}
.lists .todo .tasks-title{
  background-color: #ffe2dd;
  width: fit-content;
  border-radius: 4px;
  margin-top: auto;
  padding: 5px 8px;
  font-size: 1rem;
}
.lists .done .tasks-title{
  background-color: #dbeddb;
  width: 15%;
  border-radius: 4px;
  text-align: center;
  padding: 5px 5px;
  font-size: 1rem;
}
.add-btn {
  padding: 0px 8px;
  display: flex;
  align-items:  center;
  cursor: pointer;
  width: fit-content;
  border-radius: 5px;
  user-select: none;
  color: black;
  font-size: 1rem;
}
.add-btn:hover{
  background-color: #f4f0f0;
}
.form-check-input:focus {
  box-shadow: none;
  border: 1px solid #dee2e6;
}
.title,
        textarea{
          border: none;
          background-color: transparent;
          font-size: 38px;
          color: black;
        }
.title::placeholder{
          color: #cccccc74;
          font-weight: bold;
        }
textarea:focus{
          border: none;
          outline: none;
}
.form{
  margin-top: -115px;
  box-shadow: rgb(15 15 15 / 20%) 3px 4px 10px 2px;
  height: 100vh;
}
.message-input{
  height: 120px;
  margin-bottom: 25px;
}
.header .add{
  visibility: hidden; 
  color: #959491;
  border-radius: 5px;
  font-weight: 500;
  padding: 2px 10px;
  margin-top: auto;
}

.header:hover .add{
  visibility: visible; 

}
.header .add:hover{
  background-color: #F7F7F7;
  cursor: pointer;
}
.title{
  height: 100px;
  margin-bottom: 15px;
  font-weight: bold;
}
.message-input,.title{
          resize: none;
      }
        .message-input input[type="text"],.title ,
        textarea{
          border: none;
          background-color: transparent;
          font-size: 18px;
          color: black;
        }
        input[type="date"] {
          height: 10px;
          padding: 8px;
          font-size: 16px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
    .custom-date-input:focus {
      outline: none;
      border-color: #66afe9;

    }
.date-text{
  margin-right: 120px;
  font-weight: 500;
}

.created-date,
.Deadline,
.text-completed,
.message-input::placeholder,.title::placeholder{
  color: #afacad;
  font-size: 18px;
  font-weight: 600;
  margin-right: 20px;
}
.created-date span{
  color: #313030;
  margin-left: 12px;
  font-size: 1rem;
}
 .fa-calendar{
  font-size: 14px;
  color: #AFAEAC;
}

.custom-date-input{
  margin-left: -40px;
}
.save-btn{
  background-color: rgba(13, 169, 5, 0.8); /* Green background */
  border: none;
  color: white; /* White text */
  padding: 5px 20px; /* Padding for size */
  text-align: center; /* Center the text */
  font-size: 16px; /* Set font size */
  font-weight: bold; /* Make text bold */
  border-radius: 3px; /* Rounded corners */
}
.delete-btn{
  background-color: rgba(192, 7, 7, 0.8); /* Green background */
  border: none;
  color: white; /* White text */
  padding: 5px 20px; /* Padding for size */
  text-align: center; /* Center the text */
  font-size: 16px; /* Set font size */
  font-weight: bold; /* Make text bold */
  border-radius: 3px; /* Rounded corners */
}
/* General styles for the date input */
.custom-date-input {
  padding: 15px !important;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  outline: none;
  cursor: pointer;
}
