*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow: hidden;
}
.lists {
  max-height: 83vh;
}
.lists .todo .header, .lists .done .header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  width: calc(100% + 4px);
}

ul {
  padding: 0;
  list-style: none;
}
ul li {
  margin-bottom: 10px;
}
.break-word {
  word-break: break-word;
  overflow-wrap: break-word;}
li{
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px;
  padding: 8px 0px 6px 6px;  
  border-radius: 3px;
}
li:hover{
  cursor: pointer;
  background-color: #F7F7F7;
}
.fa-check{
  font-size: 48px;
}
p,h2{
  margin: 0;
}
.lists .todo .tasks-title{
  background-color: #ffe2dd;
  margin-left: -2px;
  width: fit-content;
  border-radius: 4px;
  margin-top: auto;
  padding: 5px 8px;
  font-size: 1rem;
}
.lists .done .tasks-title{
  background-color: #dbeddb;
  margin-left: -2px;
  width: fit-content;
  border-radius: 4px;
  margin-top: auto;
  padding: 5px 5px;
  font-size: 1rem;
}
.add-btn {
  padding: 0px 8px;
  display: flex;
  align-items:  center;
  cursor: pointer;
  width: fit-content;
  border-radius: 5px;
  user-select: none;
  color: black;
  font-size: 1rem;
}
.add-btn:hover{
  background-color: #f4f0f0;
}
.form-check-input:focus {
  box-shadow: none;
  border: 1px solid #dee2e6;
}
.left-0{
  left: 0;
}
.left-6{
  left: 1650px
}
.title,
        textarea{
          border: none;
          background-color: transparent;
          font-size: 38px;
          color: black;
        }
.title::placeholder{
          color: #cccccc74;
          font-weight: bold;
        }
textarea:focus{
          border: none;
          outline: none;
}
.form{
  box-shadow: rgb(15 15 15 / 20%) 3px 4px 10px 2px;
  position: relative;
  height: 100vh;
  background-color: #fff;
  z-index: 10000;
  transition: left 0.4s ease;
}
.message-input{
  height: 130px;
  margin-bottom: 25px;
}
.header .add{
  visibility: hidden; 
  color: #959491;
  border-radius: 5px;
  font-weight: 500;
  padding: 2px 10px;
  margin-top: auto;
}

.header:hover .add{
  visibility: visible; 

}
.header .add:hover{
  background-color: #F7F7F7;
  cursor: pointer;
}
.title{
  height: 90px;
  margin-bottom: 15px;
  font-weight: bold;
}
.message-input,.title{
          resize: none;
      }
        .message-input input[type="text"],.title ,
        textarea{
          border: none;
          background-color: transparent;
          font-size: 18px;
          color: black;
        }
        input[type="date"] {
          height: 10px;
          padding: 8px;
          font-size: 16px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
    .custom-date-input:focus {
      outline: none;
      border-color: #66afe9;

    }
.date-text{
  margin-right: 120px;
  font-weight: 500;
}

.created-date,
.Deadline,
.text-completed,
.message-input::placeholder,.title::placeholder{
  color: #afacad;
  font-size: 18px;
  font-weight: 600;
}
.date-span{
  margin-left: 16px;

}
.created-date span{
  color: #313030;
  margin-left: 12px;
  font-size: 1rem;
}
.fa-calendar{
  font-size: 14px;
  color: #AFAEAC;
}

.custom-date-input{
  margin-left: -40px;
}

.custom-date-input {
  padding: 15px !important;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  outline: none;
  cursor: pointer;
}
        .header .search input {
            border-radius: 0 10px 10px 0;
            padding-left: 15px;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s 0.1s, opacity 0.1s ease;
        }

        .header .search input.visible {
            visibility: visible;
            opacity: 1;
            transition-delay: 0s;
        }
.header .search input:focus{
  color: none;
  background-color: none;
  border: 1px solid #ccc;
  outline: 0;
  box-shadow: none;
  
}
.search{
  position: relative;

}
.search-icon{
  position: absolute;
  top: 50%;
  font-size: 18px;
  transform: translate(-50%,-50%);
  background-color: #1657DC;
  color: #fff;
  padding: 12px;
  border-radius: 0 10px 10px 0;
  transition: all .3s ease;
  cursor: pointer;
}

.search-animation{
  margin-left: 100%;
}
